:root {
	/* Colores */
	--primary: #625bf8;
	--accent-primary : rgb(73, 68, 165);
	--gray-100: #dadada;
	--gray-200: #cfd2d6;
	--gray-300: #fafafa;
	--gray-500: #36414e;
	--gray-600: #272f38;
	--white: #FFFFFF;
	--black: #060b10;

	--background: #e9ebed;
	--background-rgb: 233, 235, 237;

	--button-hover: #defffe;

	--light-color: #20b6b6;

	--astro-stop1: #000014;
	--astro-stop2: #150426;

	--grad-1: #4285f4;
	--grad-2: #9b72cb;
	--grad-3: #d96570;
	--grad-4: #d0677e;
	--grad-5: #9b72cb;
	--grad-6: #4285f4;
	--grad-7: hwb(268 45% 20%);
	--grad-8: #d96570;

	--grad-9: #060b10;

	--gradient: linear-gradient(285deg, var(--background) 35%, var(--grad-1) 40%, var(--grad-2) 49%, var(--grad-3) 58%, var(--grad-4) 63%, var(--grad-5) 74%, var(--grad-6) 85%, var(--grad-7) 95%, var(--grad-8) 100%);
	--gradient2: linear-gradient(285deg, var(--background) 35%, var(--grad-9) 40%, var(--grad-9) 100%);
	--gradient3: linear-gradient(285deg, var(--background) 35%, var(--primary) 40%, var(--primary) 100%);

	--shadow-m: -1px 1px 5px var(--gray-200);

	/* Tamaño de fuentes*/
	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-md: 1.125rem;
	--text-lg: 1.375rem;
	--text-xl: 1.563rem;
	--text-2xl: 1.953rem;
	--text-3xl: 2.441rem;
	--text-4xl: 3.75rem;
	--text-5xl: 4.5rem;

	/* Pesos de fuentes */
	--thin: 100;
	--extra-light: 200;
	--light: 300;
	--regular: 400;
	--medium: 500;
	--semi-bold: 600;
	--bold: 700;
	--extra-bold: 800;
}

:root.dark {
	/* Colores */

	--primary: #625bf8;
	--accent-primary : rgb(73, 68, 165);
	--gray-100: #12181f;
	--gray-200: #141414;
	--gray-300: #fafafa;
	--gray-500: #c5c7c9;
	--gray-600: #e9ebed;
	--white: #060b10;
	--black: #FFFFFF;

	--background: #060b10;
	--background-rgb: 6, 11, 16;

	--light-color: #00f2ff;

	--astro-stop1: #14144e;
	--astro-stop2: #3f126b;

	--grad-1: #275bb1;
	--grad-2: #9b72cb;
	--grad-3: #d96570;
	--grad-4: #d0677e;
	--grad-5: #9b72cb;
	--grad-6: #4285f4;
	--grad-7: #9b72cb;
	--grad-8: #d96570;

	--grad-9: #dadada;

}

body {
	font-family: 'Roboto Mono Variable', monospace, sans-serif;
  	background: var(--background);
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: var(--text-base);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
    color: var(--black);
}

h1 {
	font-size: var(--text-4xl);
}

h2 {
	font-size: var(--text-3xl);
}

h3 {
	font-size: var(--text-2xl);
}

h4 {
	font-size: var(--text-xl);
}

h5 {
	font-size: var(--text-lg);
}

p {
	color: var(--black);
}

ul,
ol,
li {
	list-style: none;
	color: var(--black);
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--primary);
    text-decoration: none;
}

a:hover {
	color: var(--accent-primary);
}

textarea {
	width: 100%;
	font-size: var(--text-base);
}

input {
	font-size: var(--text-base);
}

.thin {
	font-weight: var(--thin);
}

.extra-light {
	font-weight: var(--extra-light);
}

.light {
	font-weight: var(--light);
}

.regular {
	font-weight: var(--regular);
}

.medium {
	font-weight: var(--medium);
}

.semi-bold {
	font-weight: var(--semi-bold);
}

.bold {
	font-weight: var(--bold);
}

.typed-cursor {
	color: var(--gray-500) !important;
}

html {
	scroll-behavior: smooth;
}

.section-content {
	max-width: 1080px;
	margin: auto;
}

.main-content {
	padding: 20px;
}

.card {
	border: 1px solid var(--gray-200);
	box-shadow: var(--shadow-m);
}

.container {
	padding: 15px;
	border-radius: 20px;
	text-align: center;

	span {
		color: var(--light-color);
		font-size: var(--text-2xl);
		font-weight: var(--semi-bold);
	}
}



