---
import BaseLayout from '@/Layouts/BaseLayout.astro'
import Hero from '@/sections/Hero.astro'
import About from '@/sections/About.astro'
import Header from '@/sections/Header.astro'
---

<BaseLayout>
	<Header />
	<Hero />
	<main class="main-content">
		<section class="section-content">
			<About />
		</section>
	</main>
</BaseLayout>
