---
import BaseLayout from '@/Layouts/BaseLayout.astro'
import Hero from '@/sections/Hero.astro'
import About from '@/sections/About.astro'
import Projects from '@/sections/Projects.astro'
---

<BaseLayout>
	<Hero />
	<main class="main-content">
		<section class="section-content">
			<About />
			<Projects />
		</section>
	</main>
</BaseLayout>
