---
import BaseLayout from '@/Layouts/BaseLayout.astro'
import Hero from '@/sections/Hero.astro'
---

<BaseLayout>
	<Hero />
	<main class="main-content">
		<section class="section-content">
			<h3>Contenido</h3>
		</section>
	</main>
</BaseLayout>
