---
import BaseLayout from '@/Layouts/BaseLayout.astro'
import Hero from '@/sections/Hero.astro'
import Skills from '@/components/Skills.astro'
---

<BaseLayout>
	<Hero />
	<main class="main-content">
		<section class="section-content">
			<Skills />
		</section>
	</main>
</BaseLayout>
