---
import BorderAnimated from "./BorderAnimated.astro"
---

<BorderAnimated>
    <h3>Habilidades</h3>
    <ul>
        <li>
            React
        </li>
        <li>
            HTML5
        </li>
        <li>
            CSS5
        </li>
        <li>
            Javascript
        </li>
    </ul>
</BorderAnimated>
<BorderAnimated>
    <h1>Hola</h1>
</BorderAnimated>