---
import BorderAnimated from "./BorderAnimated.astro"
import Icon from "./Icon.astro"
import { SkillIcons } from './SkillIcons';

const iconKeys = Object.keys(SkillIcons) as (keyof typeof SkillIcons)[];
---

<BorderAnimated>
    <div class="skills">
        <span id="typed"></span>
        <div class="carousel">
            <ul>
                {iconKeys.map((key) => (
                    <li class="icon">
                        <Icon icon={key} size="45px"/>
                    </li>
                ))}
            </ul>
        </div>
    </div>
</BorderAnimated>

<style>
    .skills {
        padding: 15px;
        border-radius: 20px;
        text-align: center;

        span {
            color: var(--light-color);
            font-size: var(--text-2xl);
            font-weight: var(--semi-bold);
        }
    }

    .carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        max-width: 500px;
        margin: auto;

        ul {
            padding: 0;
            display: flex;
            gap: 18px;
        }
    }

    .icon {
        transition: scale .3s ease;

    }


    .icon:hover {
        scale: 1.15;
    }
</style>

<script>
    import Typed from "typed.js";
  
    document.addEventListener("astro:page-load", () => {
      const target = document.querySelector("#typed") as HTMLElement;
  
      const options = {
        root: null,
        rootMargin: "0px",
        threshold: 0.45,
      };
  
      const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            const typed = new Typed("#typed", {
              strings: ["Habilidades"],
              typeSpeed: 150,
              loop: false,
              showCursor: true,
            });
  
            observer.unobserve(target);
          }
        });
      }, options);
  
      observer.observe(target);
    });
  </script>