---
import BorderAnimated from "./BorderAnimated.astro"
import SkillsCarousel from "./SkillsCarousel.astro"
---

<BorderAnimated>
    <div class="skills">
        <span id="typed"></span>
        <SkillsCarousel />
    </div>
</BorderAnimated>

<style>
    .skills {
        padding: 15px;
        border-radius: 20px;
        text-align: center;

        span {
            color: var(--light-color);
            font-size: var(--text-2xl);
            font-weight: var(--semi-bold);
        }
    }
</style>

<script>
    import Typed from "typed.js";
  
    document.addEventListener("astro:page-load", () => {
      const target = document.querySelector("#typed") as HTMLElement;
  
      const options = {
        root: null,
        rootMargin: "0px",
        threshold: 1,
      };
  
      const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            const typed = new Typed("#typed", {
              strings: ["Habilidades"],
              typeSpeed: 150,
              loop: false,
              showCursor: true,
            });
  
            observer.unobserve(target);
          }
        });
      }, options);
  
      observer.observe(target);
    });
  </script>