<div class="skills">
    <h3>Algunas de mis habilidades</h3>
    <ul>
        <li>React</li>
        <li>HTML5</li>
        <li>CSS3</li>
    </ul>
    <div class="border"></div>
</div>

<style>
    .border {
        position: absolute;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        top: -2px;
        left: -2px;
        padding: 2px;
        z-index: -1;
        background: 
            conic-gradient(from calc(var(--angle, 0deg) - 30deg), 
                transparent 0deg, 
                #00ffff 60deg, 
                transparent 120deg
            );
        background-size: 200% 200%;
        background-position: 50% 50%;
        border-radius: 20px;
        transition: opacity 0.3s ease;
        opacity: 0;
    }

    .skills:hover .border {
        opacity: 1;
    }

    .skills {
        width: 400px;
        position: relative;
        background-color: #1e1e1e;
        border-radius: 20px;
        padding: 20px;
        cursor: default;
        
    }

    .skills h3 {
        margin-top: 0;
        color: #00ffff;
    }

    .skills ul {
        padding-left: 20px;
    }

    .skills li {
        margin-bottom: 5px;
    }
</style>

<script is:inline>
    const border = document.querySelector('.border');
    const container = document.querySelector('.skills')
    let isMouseOver = false;

    container.addEventListener('mousemove', (e) => {
        if (!isMouseOver) return;
        const rect = container.getBoundingClientRect();
        const x = e.clientX - rect.left - rect.width / 2;
        const y = e.clientY - rect.top - rect.height / 2;
        const angle = Math.atan2(y, x) * (180 / Math.PI) + 90;
        border.style.setProperty('--angle', `${angle}deg`);
    });

    container.addEventListener('mouseenter', () => {
        isMouseOver = true;
    });

    container.addEventListener('mouseleave', () => {
        isMouseOver = false;
    });
</script>
