---
import Sun from "@/icons/sun.astro"
import Moon from "@/icons/moon.astro"
---
<button class="theme-toggle" id="theme-toggle">
    <div class="icon-container">
        <Sun />
        <Moon />
    </div>
</button>

<style is:global>

    .theme-toggle {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    @keyframes fadeIn {
        from { 
            opacity: 0;
            scale: 0;
        }
        to { 
            opacity: 1;
            scale: 1;
        }
    }

    @keyframes fadeOut {
        from { 
            opacity: 1;
            scale: 1;
        }
        to { 
            opacity: 0;
            scale: 0;
        }
    }

    .icon-container {
        position: relative;
        width: 25px;
        height: 25px;
    }

    .icon-container .icon {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.3s ease, scale 0.3s ease;
    }

    .icon-container .icon.sun {
        opacity: 1;
        animation: fadeIn 0.3s forwards;
    }

    .icon-container .icon.moon {
        opacity: 0;
        animation: fadeOut 0.3s forwards;
    }

    .dark .icon.sun {
        opacity: 0;
        animation: fadeOut 0.3s forwards;
    }

    .dark .icon.moon {
        opacity: 1;
        animation: fadeIn 0.3s forwards;
    }

</style>

<script is:inline>
    const toggleTheme = () => {
        const d = document.documentElement;
        const c = d.classList;
        const currentTheme = localStorage.getItem('theme');
        
        if (currentTheme === 'dark') {
            d.style.colorScheme = 'light';
            c.remove('dark');
            c.add('light');
            localStorage.setItem('theme', 'light');
        } else {
            d.style.colorScheme = 'dark';
            c.remove('light');
            c.add('dark');
            localStorage.setItem('theme', 'dark');
        }

        initWarpSpeed()
    };

    document.getElementById('theme-toggle').addEventListener('click', toggleTheme);
</script>