---
import Skills from "@/components/Skills.astro"
---

<div class="about">
    <div class="resume">
        <div class="text">
            <h3>
                Sobre mi
            </h3>
            <p>
                Soy un apasionado de la tecnología, colaborativo y siempre en busca de nuevas oportunidades para aprender y crecer profesionalmente. Actualmente, me desempeño como desarrollador frontend en la Universidad Autónoma de Durango y también realizo proyectos de desarrollo como freelance. Buscando seguir perfeccionando mis habilidades para aportar un mayor valor a mis clientes y enfrentar nuevos desafíos con éxito.
            </p>
        </div>
        <div class="img-container">
            <img src="/images/rick-and-morty.gif" alt="">
        </div>
    </div>
    <Skills />
</div>

<style>
    .about {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .text {
        grid-area: text;
        padding: 18px;
        border-radius: 25px;
        height: 320px;
        background-color: var(--gray-100);

        h3 {
            color: var(--primary);
        }

    }

    .img-container {
        border-radius: 15px;
        width: 320px;
        overflow: hidden;
        grid-area: image;

        img {
            max-width: 400px;
            min-width: 280px;
            height: 320px;
            object-fit: cover;
            border-radius: 15px;
        }
    }

    .resume {
        display: grid;
        grid-template-areas: 
            "text text image";
        gap: 15px;


    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }

    @media (max-width: 795px) {
        .resume {
            grid-template-areas:
                "text"
                "image";
        }

        .text {
            height: auto;
        }

        .img-container {
            display: flex;
            width: 100%;

            img {
                margin: auto;
            }
        }
    }
</style>