<section class="hero">
    <div class="hero-content">
        <div class="gradient">
            <h1>Hola, mi nombre es</h1>
            <h1>Oscar</h1>
            <h3>Soy desarrollador web Full Stack</h3>
        </div>
    </div>
</section>

<style>
    .hero {
        padding: 20px;
    }

    .hero-content {
        display: flex;
        max-width: 1080px;
        margin: auto;
    }

    .gradient {
        position: relative;
        color: transparent;
        background: var(--gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 320% 100%;
        animation: text-reveal-animation 3.2s ease forwards;
    }

    @keyframes text-reveal-animation {
        0% {
            background-position: 100% 0%;
        }
        100% {
            background-position: 25% 0%;
        }
    }
</style>