---
import ThemeToggle from "@/components/ThemeToggle.astro"
---
<header>
    <div class="nav">
        <div class="gradient">
            <h1>Oscar</h1>
        </div>
        <ThemeToggle />
    </div>
</header>

<style>
    header {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        z-index: 99;
        backdrop-filter: blur(20px);
        background-color: rgba(var(--background-rgb), 0.5);
        transition: top 0.5s ease-in-out; 
    }

    .nav {
        display: flex;
        width: 100%;
        max-width: 1120px;
        margin: auto;
        padding: 15px 20px;
        justify-content: space-between;
    }

    .gradient {
        position: relative;
        color: transparent;
        background: linear-gradient(290deg, var(--background) 35%, var(--gray-600) 42%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400% 100%;
        animation: text-reveal-animation 1s ease forwards;
        width: fit-content;

        h1 {
            font-size: 1.5rem;
        }
    }

    @keyframes text-reveal-animation {
        0% {
            background-position: 100% 0%;
        }
        100% {
            background-position: 0% 0%;
        }
    }
</style>

<script>
    function initScrollEffect() {
        let lastScrollTop = 0;
        const header = document.querySelector('header') as HTMLElement;

        window.addEventListener('scroll', () => {
            const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

            if (scrollTop > lastScrollTop) {
                header.style.top = '-100px';
            } else {
                header.style.top = '0';
            }

            lastScrollTop = scrollTop;
        });
    }

    window.addEventListener('load', initScrollEffect);

    document.addEventListener('astro:page-load', initScrollEffect);

    document.addEventListener('astro:before-swap', initScrollEffect);
</script>


