---
import BorderAnimated from "@/animations/BorderAnimated.astro"
---
<section class="projects">
    <BorderAnimated darkBorder="border-purple" lightBorder="border-purple">
        <div class="container">
            <span id="typed-projects"></span>
            <div class="projects-grid">

            </div>
        </div>
    </BorderAnimated>
</section>

<style>
    .projects {
        margin: 50px 0;
    }

</style>

<script>
    import Typed from "typed.js";
  
    document.addEventListener("astro:page-load", () => {
      const target = document.querySelector("#typed-projects") as HTMLElement;
  
      const options = {
        root: null,
        rootMargin: "0px",
        threshold: 1,
      };
  
      const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            const typed = new Typed("#typed-projects", {
              strings: ["Algunos de mis proyectos"],
              typeSpeed: 120,
              loop: false,
              showCursor: true,
            });
  
            observer.unobserve(target);
          }
        });
      }, options);
  
      observer.observe(target);
    });
  </script>