---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import BorderAnimated from "@/animations/BorderAnimated.astro"
import ProjectCard from '@/components/ProjectCard.astro';

const projects = await getCollection('projects')
---
<section class="projects">
    <BorderAnimated darkBorder="border-purple" lightBorder="border-purple">
        <div class="container">
            <span id="typed-projects"></span>
            <div class="projects-grid">
                {projects.map((project: CollectionEntry<'projects'>) => (
                    <li class="grid-element">
                        <ProjectCard project={project}/>
                    </li>
                ))}
            </div>
        </div>
    </BorderAnimated>
</section>

<style>
    .projects {
        margin: 50px 0;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        margin: 30px 15px;
        gap: 20px;
    }

    @media (max-width: 1000px) {
        .projects-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 650px) {
        .projects-grid {
            grid-template-columns: 1fr;
        }
    }

</style>

<script>
    import Typed from "typed.js";
  
    document.addEventListener("astro:page-load", () => {
      const target = document.querySelector("#typed-projects") as HTMLElement;
  
      const options = {
        root: null,
        rootMargin: "0px",
        threshold: 1,
      };
  
      const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            const typed = new Typed("#typed-projects", {
              strings: ["Algunos de mis proyectos"],
              typeSpeed: 120,
              loop: false,
              showCursor: true,
            });
  
            observer.unobserve(target);
          }
        });
      }, options);
  
      observer.observe(target);
    });
  </script>