---
import MainHead from '@/components/MainHead.astro';
import WarpSpeed from '@/animations/WarpSpeed.astro';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="es">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<slot />
		<WarpSpeed />
	</body>
</html>
