---
import MainHead from '@/components/MainHead.astro';
import WarpSpeed from '@/animations/WarpSpeed.astro';
import Nav from '@/sections/Nav.astro'

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="es">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<Nav />
		<slot />
		<WarpSpeed />
	</body>

	<script is:inline>
		!function() {
    		try {
        		let d = document.documentElement;
        		let c = d.classList;
				
        		c.remove('light', 'dark');
				
        		let e = localStorage.getItem('theme');
				
        		if ('system' === e || (!e && true)) {
        		    let t = '(prefers-color-scheme: dark)';
        		    let m = window.matchMedia(t);
				
        		    if (m.media !== t || m.matches) {
        		        d.style.colorScheme = 'dark';
        		        c.add('dark');
        		    } else {
        		        d.style.colorScheme = 'light';
        		        c.add('light');
        		    }
        		} else if (e) {
        		    c.add(e || '');
        		}
			
        		if (e === 'light' || e === 'dark') {
        		    d.style.colorScheme = e;
        		}
    		} catch (e) {}
		}();
	</script>
</html>
